 <br><br>
 <!-- footer -->
 <div class="">
    <footer class="text-center text-white" style="background-color: rgb(36, 55, 99);">
        <div class="container pt-4">
        <section class="mb-4">
            <a
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bx bxl-twitter"></i
            ></a>
            <a
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bx bxl-google"></i
            ></a>
            <a
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bx bxl-instagram"></i
            ></a>
            <a
            class="btn btn-link btn-floating btn-lg text-white m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="bx bxl-youtube"></i
            ></a>
        </section>
        </div>       
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgb(255, 110, 49);">
        © 2023 Copyright: PORTZ
        </div>
    </footer>   
</div>
